{{- if eq .personal true }}
[commit]
  gpgsign = true
[tag]
  gpgSign = true
{{- end }}
[user]
{{- if eq .personal true }}
  signingkey = 7F30678CF4053CEDDCB852EB7AC0F35EF1924EEA
  name = Charlie Haley
  email = charlie.haley@hotmail.com
{{ else }}
  name = Charlie Haley
  email = charlie.haley@justeattakeaway.com
{{- end }}
[core]
  editor = nano
[pager]
  branch = false
[init]
  defaultBranch = main
[url "git@github.com:"]
  insteadOf = https://github.com/
[push]
  autoSetupRemote = true

