{{- if eq .personal true }}
[commit]
  gpgsign = true
[tag]
  gpgSign = true
{{- end }}
[user]
{{- if eq .personal true }}
  signingkey = 1A7742F3A542F0AF821B5728C63A01FBC1B86B44
  name = Charlie Haley
  email = charlie.haley@hotmail.com
{{ else }}
  name = Charlie Haley
  email = charlie.haley@justeattakeaway.com
{{- end }}
[core]
  editor = nano
[pager]
  branch = false
[init]
  defaultBranch = main
[url "git@github.com:"]
  insteadOf = https://github.com/
[push]
  autoSetupRemote = true

