{
    "layer": "top",
    "height": 30,
    "modules-left": ["sway/workspaces", "sway/mode"],
    "modules-center": ["sway/window"],
    {{- if (eq .machine "x1") }}
    "modules-right": [ "custom/wlsunset", "pulseaudio", "network", "battery", "custom/media", "tray", "clock"],
    {{- end }}
    {{- if (eq .machine "sl3") }}
    "modules-right": [ "custom/wlsunset", "pulseaudio", "network", "battery", "custom/media", "tray", "clock"],
    {{- end }}
    {{- if (eq .machine "desktop") }}
    "modules-right": [ "custom/wlsunset", "pulseaudio", "network", "custom/media", "tray", "clock"],
    {{- end }}
    "sway/mode": {
        "format": "<span style=\"italic\">{}</span>"
    },
    "sway/window": {
        "max-length": 80,
        "tooltip": false
    },
    "custom/updates": {
        "format": "{}",
        "interval": 60,
        "signal": 8,
        "on-click": "$TERMINAL --class='update_installer' -e 'yay'; pkill -SIGRTMIN+8 waybar",
        "exec": "$HOME/.config/waybar/modules/updates.sh 2> /dev/null",
        "tooltip": false
    },
    "custom/wlsunset": {
        "format": "🌘 ",
        "tooltip": false,
        "on-click": "wlsunset -l 51.45 -L 2.58"
    },
    "tray": {
        "icon-size": 15,
        "spacing": 10,
        "show-passive-items": true
    },
    "mpd": {
        "format": "{stateIcon} {consumeIcon}{randomIcon}{repeatIcon}{singleIcon}{artist} - {album} - {title} ({elapsedTime:%M:%S}/{totalTime:%M:%S}) ",
        "format-disconnected": "Disconnected ",
        "format-stopped": "{consumeIcon}{randomIcon}{repeatIcon}{singleIcon}Stopped ",
        "unknown-tag": "N/A",
        "interval": 2,
        "consume-icons": {
            "on": " "
        },
        "random-icons": {
            "off": "<span color=\"#f53c3c\"></span> ",
            "on": " "
        },
        "repeat-icons": {
            "on": " "
        },
        "single-icons": {
            "on": "1 "
        },
        "state-icons": {
            "paused": "",
            "playing": ""
        },
        "tooltip": false
    },
    "idle_inhibitor": {
        "format": "{icon}",
        "format-icons": {
            "activated": "",
            "deactivated": ""
        },
        "tooltip": false
    },
    "clock": {
        "tooltip-format": "{:%a %d %b | %H:%M %S}",
        "interval": 5,
        "format": "{:%H:%M}",
        "tooltip": true,
        "on-click": "xdg-open https://calendar.google.com/calendar/u/1/r"
    },
    "cpu": {
        "format": "{usage}% ",
        "tooltip": false
    },
    "memory": {
        "format": "{used:0.1f}G ",
        "tooltip": false
    },
    {{- if (eq .machine "sb3") }}
    "battery": {
        "states": {
            "warning": 30,
            "critical": 15
        },
        "format": " {icon} ",
        "format-charging": "",
        "format-plugged": "",
        "format-alt": "{time} {icon}",
        "format-icons": ["", "", "", "", ""],
        "tooltip": false
    },
    "battery#bat0": {
        "bat": "BAT0"
    },
    {{- end }}
    "network": {
        "format-wifi": "",
        "format-ethernet": "",
        "format-linked": "",
        "format-disconnected": "⚠",
        "format-alt": "{ifname}: {ipaddr}/{cidr}",
        "tooltip": false,
        "on-click-right": "sh ~/.config/wofi-wifi-menu/wofi-wifi-menu.sh"
    },
    "pulseaudio": {
        "scroll-step": 5,
        "format": "{icon} {format_source}",
        "format-bluetooth": "{icon} {format_source}",
        "format-bluetooth-muted": " {icon} {format_source}",
        "format-muted": " {format_source}",
        "format-source": "  ",
        "format-source-muted": "",
        "format-icons": {
            "headphones": "",
            "handsfree": "",
            "headset": "",
            "phone": "",
            "portable": "",
            "car": "",
            "default": ["", "", ""]
        },
        "on-click": "pavucontrol",
        "tooltip": false
    },
    "custom/media": {
        "format": "{0} {1}",
        "escape": true,
        "return-type": "json",
        "max-length": 40,
        "on-click": "playerctl play-pause",
        "on-click-right": "playerctl stop",
        "exec": "$HOME/.config/waybar/playerctl.sh 2> /dev/null",
    }
}
