window {
    margin: 0px;
    /* border: 1px solid #4E342E; */
    background-color: #F0E9D7;
    color: #4E342E;
    font-family: 'DejaVu Sans Mono', monospace;
    }
    
    #input {
    border: none;
    border-radius: 0;
    background-color: #F0E9D7;
    }

    input {
        outline:none;
       }
       
    #inner-box {
    margin: 5px;
    border: none;
    /* border: 1px solid #4e342e; */
    background-color: #F0E9D7;
    }
    
    #outer-box {
    margin: 0px;
    padding: 0px;
    border: 1px solid #4E342E;
    background-color: #F0E9D7;
    color: #4E342E;
    /* border: none;
    border: 1px solid #4e342e;
    background-color: #8f6254; */
    }
    
    #scroll {
    margin: 0px;
    border: none;
    }
    
    #text {
    margin: 0px;
    border: none;
    } 
    
    #entry:selected {
    background-color: #8f6254;
    }