# packages used across all machines
age
arch-install-scripts
autoconf
automake
base
bash-completion
binfmt-qemu-static-all-arch
binutils
bison
bottom
cabextract
chezmoi
chromium
circleci-cli-bin
dialog
docker
dump
electron
fakeroot
flex
flux-bin
gcc
git
gnome-keyring
go
google-cloud-sdk
goreleaser
graphviz
groff
helm
htop
jq
jsonnet
k6
kbfs
keybase
kubeadm
kubectl
kubectx
kube-linter
kubeval
kustomize
libtool
linux
linux-firmware
m4
make
mako
man-db
nano
nano-syntax-highlighting
net-tools
nmap
nodejs
noto-fonts
noto-fonts-cjk
noto-fonts-emoji
npm
openssh
pacmanfile
patch
pkgconf
python-pip
qemu
qemu-user-static-bin
qrencode
rust
screenfetch
skopeo
slurp
sops
ssss
steghide
sudo
terminus-font
terraform
texinfo
tree
ttf-dejavu
ttf-font-awesome
unzip
wget
which
whois
yay-bin
zsh
{{- if (eq .wsl true) }}
# packages used in WSL only
{{- else }}
# packages used on native machines
acpid
alacritty
alsa-tools
alsa-utils
code
dhcpcd
discord
dptfxtract-bin
firefox
amd-ucode
grim
gtk4
iptsd
iwd
keybase-gui
light
lxc
netctl
nvidia
nvidia-utils
pavucontrol
pipewire
playerctl
polkit-gnome
powertop
pulseaudio
pulseaudio-alsa
swappy
sway
swaybg
thermald
vulkan-tools
vulkan-validation-layers
waybar
wl-clipboard
wl-clipboard-x11
wlr-randr
wlsunset
wob
tofi
wpa_supplicant
xdg-desktop-portal
xdg-desktop-portal-wlr
xorg-server
xorg-xwayland
xorg-apps
yubikey-agent
{{- end }}
