# packages used across all machines
age
arch-install-scripts
argocd
autoconf
automake
base
bash-completion
binfmt-qemu-static-all-arch
binutils
bison
bottom
chezmoi
chromium
circleci-cli-bin
dialog
discord
docker
dump
electron
fakeroot
flex
flux-bin
gcc
git
gnome-keyring
go
google-cloud-sdk
goreleaser
graphviz
groff
helm
htop
jq
jsonnet
k6
kbfs
keybase
kubeadm
kubectl
kubectx
kube-linter
kubeval
kustomize
libtool
linux
linux-firmware
m4
make
mako
man-db
nano
nano-syntax-highlighting
net-tools
nmap
nodejs
noto-fonts
noto-fonts-cjk
noto-fonts-emoji
npm
openssh
pacmanfile
patch
pkgconf
python-pip
qemu
qemu-user-static-bin
qrencode
rust
screenfetch
skopeo
slurp
sops
ssss
steghide
sudo
terminus-font
terraform
texinfo
tree
ttf-dejavu
ttf-font-awesome
unzip
visual-studio-code-bin
wget
which
whois
yay-bin
zsh
{{- if (eq .wsl true) }}
# packages used in WSL only
{{- else }}
# packages used on native machines
acpid
alacritty
alsa-tools
alsa-utils
bluez
bluez-utils
dhcpcd
dptfxtract-bin
firefox
intel-ucode
grim
gtk4
iptsd
iwd
keybase-gui
light
linux-surface
linux-surface-headers
lxc
netctl
nvidia
nvidia-dkms
nvidia-utils
pavucontrol
pipewire
playerctl
polkit-gnome
powertop
pulseaudio
pulseaudio-alsa
surface-control
surface-dtx-daemon
swappy
sway
thermald
waybar-git
waybar-mpris-git
wl-clipboard
wl-clipboard-x11
wlr-randr
wlsunset
wob
wofi
wpa_supplicant
xdg-desktop-portal
xdg-desktop-portal-wlr
xorg-server
xorg-xwayland
{{- end }}
